/* 
    Note that we should validate our CSS with 
    https://jigsaw.w3.org/css-validator 
*/
body {
    background-image: url("img/night_sky.png");
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 58px;
    text-align: center;
}

.menu-item a {
    color: #f0fdff !important;
    text-decoration: none;
    font-family: "Silkscreen", "Courier Code", "Courier New", "Courier",
        monospace;
    font-weight: 400;
    font-style: normal;
}

#content {
    margin: 0px auto 100px auto;
    width: 800px;
    color: #f0fdff;
    font-size: 1.2em;
    font-family: "Play", "Courier Code", "Courier New", "Courier", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Silkscreen", "Courier Code", "Courier New", "Courier",
        monospace;
    font-weight: 400;
    font-style: normal;
}
a:link{
    color: #8ACE00;
}
a:visited{
    color:#FF46A2;
}
a:hover{
    color: #B6D4F1;
}
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    font-size: 40px;
}
img {
    max-width: 100%;
    height: auto;
}
.tall-image {
    height: 500px;
    width: auto;
}
.copyright {
    color: #f0fdff;
    font-family: "Play", "Courier Code", "Courier New", "Courier", monospace;
    font-weight: 400;
}
.table-image {
    height: 400px;
    width: 300px;
}
/* To center an image or iframe, 
put it in a div with this class. */
.center-media {
    text-align: center;
}
.youtube-embed {
    width: 560px;
    height: 315px;
}
.history-image {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 20px 0px;
}
.caption {
    font-size: 0.85em;
    margin-top: -10px;
}

/* Photo of the Day CSS */ 
#photo-of-the-day-photo {
    text-align:center;
    background-color: #333;
    padding: 10px 0px 10px 0px;
}

#photo-of-the-day-photo img {
    height: 380px;
}
.photo-caption {
    background-color: #333;
    padding: 0px 13px 13px 13px;
}
.photo-caption figcaption {
    line-height: 1.4;
}

/* CSS for name.html page */
#satellite-form-container {
    margin-top: 35px;
}
#satellite-images-container {
    margin-top: 40px;
    text-align: center;
}
#satellite-images-container img {
    margin: 2px;
    width: 110px;
}
/* CSS for selfie.html */
#selfie-form-container {
    margin-top: 25px;
    margin-left:10px;
}
#selfie-container {
    z-index: 0;
    height: 530px;
    width: 544px;
    margin: 20px auto 20px auto;
    border-radius: 100px;
    padding-top: 20px;
    text-align:center;
    background-color: #DDDDDD66;
    
}
#selfie-helmet {
    position: relative;
    z-index: 2;
    height: 500px;
    width:500px;
}
#selfie-upload-by-user {
    /* When the page loads, we actually want to 
    hide this element UNTIL user uploads an image */
    display: none; 
    position: relative;
    z-index: 1;
    top: -373px;
    left: 94px;
    object-fit: cover;
    height: 321px;
    width: 358px;
    border-radius: 34%;
}
